/*header css start*/
.header {
    background: #062a29;
    height: 70px;

}

.header .custom-toggle {
    border: none;
    color: #B7FFF0;
    font-size: 32px;
    padding: 0;

}

.header .custom-toggle:focus {

    box-shadow: none;
}

.header .menu .nav-link,
.header .right-menu .nav-link {

    color: var(--text-white) !important;
    font-size: 16px;
    margin: 0 10px;
    transition: var(--transition);
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;

}

@media (max-width: 767px) {
    .right-menu.d-flex.align-items-center.navbar-nav {
        align-items: flex-start !important;

    }
}